<!DOCTYPE html>
<html lang="en" xmlns:th=”http://www.thymeleaf.org”>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <title>Мои задачи</title>
</head>
<body>
<h1 class="main-header" >Текущие задачи: </h1>
    <a class="button" href="#open_modal">Добавить задачу</a>
    <div class="modal" id="open_modal">
        <div class="modal_dialog">
            <div class="modal_content">
                <div class="modal_header">
                    <h3 class="modal_title">Новая задача</h3>
                </div>
                <div class="body">
                    <form method="post" action="/add-task">
                        <input class="task-text" type="text" name="description" placeholder="Введите задачу">
                        <p>Выберите дату</p>
                        <input type="date" name="deadline">
                        <input class="submit_task" type="submit" name="Добавить" value="Добавить задачу">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="show_tasks">
        <li class="ttt" th:each="task : ${tasks}">
            <td th:text="${task.description}"/>
            <br><p style="font-size: 20px; font-weight: normal"> Выполнить до: <span th:text="${task.deadline}"></span></p>
                <form method="post" action="/done-task">
                    <button class="done-button" name="id" th:value="${task.id}">Готово</button>
                </form>
        </li>
    </div>
</div>
</body>
</html>